<h2>Entries</h2>
<ul>
  <% @entries.each do |entry| %>
  <li><%= link_to entry.day, entry_path(entry) %></li>
  <% end %>
</ul>

<%= link_to "New Entry", new_entry_path, id: "new_entry_link", remote: true %>
<hr>
<%= image_tag "yoda.jpg" %>
